.cart {
    margin: 10px 50px;
    height: 30px;
    width: 25px;
    cursor: pointer;
  }
.heart {
  height: 30px;
  width: 25px;
  cursor: pointer;
  margin-right: -20px;
  }
.cart_contents {
  position: absolute;
  right: 20px;
  z-index: 5;
  background-color: #cfeae5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  margin-right: 10px;
  padding: 0px 10px;
}
.order{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
.icon {
    margin-left: 20px;
  }
.quantity {
    font-size: 18px;
  }
.cart-items {
    padding: 10px;
    font-size: 13px;
    width: 300px;
    font-size: 18px;
    margin: 20px auto;
  }
.cart-none {
    display: none;
  }
  .cart-btn {
    border: none;
    margin-top: -50px;
    background-color: #fff;
  }
  .cart_location {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .item-count {
    position: absolute;
    top: -35px;
    right: 50px;
    font-size: 15px;
    padding: 6px;
    background-color: #cf112c;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    z-index: 3;
    color: #fff;
  }
 .btn-buy {
  border-radius: 5px;
  background-color: #cf112c;
  border: none;
  color: #fff;
  padding: 5px 10px;
 }
 .none-count {
  display: none;
 }
 .quantityNone {
  display: none;
 }
 @media all and (max-width: 500px) {
 .cart_location {
 margin-top: 20px;
 }
 }