.products {
  display: flex;
  flex-wrap: wrap;
  }
  .product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  }
  .cont {
  display: flex;
  justify-content: center;
  padding: 0px 50px;
  background-color: black;
  }
  .cart {
    margin: 10px 50px;
    height: 30px;
    width: 25px;
  }
  .cart_location {
    display: flex;
    justify-content: flex-end;
  }
 .cart_contents {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  margin-right: 30px;
}
.cart_btn {
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 8px;
  color: #fff;
}
.btn_quantity {
  border: none;
  background-color: #cfeae5;
  border-radius: 5px;
  padding: 2px 10px;
}
  .back {
  background-color: #f4eddd; 
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  }
  .categoryButton {
  color: white;
  padding-left: 30px;
  border: none;
  cursor: pointer;
  background-color: black;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 16px;
  }
  .categoryButtonSelected {
    cursor: pointer;
    font-size: 19px;
  }
  
  h3, h4 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  }
  button {
  margin: 10px;
  }
  .icon {
    width: 20px;
  }
  .btn-lang{
  padding: 5px 10px;
  border-radius: 10px;
  }
  .btn-lang:hover{
  background-color: #000;
  color: #fff;
  }
  .btn-container {
  margin-left: auto;
  }
  nav {
  background: #cfeae5;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.nav-container {
  display: flex;
}
.link {
  display: flex;
  margin-left: 100px;
  align-self: center;
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.imageFront {
  margin: 8px;
}
.containerFront {
  display: flex;
  justify-content: space-around;
}
input {
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: #f6f6f8;
  margin: 25px 0px;
}
.lookAtMe {
  margin: 25px 80px;
}
button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  color: #33333e;
  padding: 5px;
  margin-top: 10px;
  }
  .box {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
  }
  .boxSlides {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .boxItem {
    text-align: left;
  }
  .twoBox {
    display: flex;
    
  }
  .sale {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slideBtn{
   margin: 20px;
   border: none;
   padding: 10px;
   font-size: 30px;
   background: #c3d7ef;
  }
  .daySale {
  display: flex;
  justify-content: space-around;
  background-color: #c3d7ef;
  }
  .textSale {
    align-self: center;
    margin-left: 30px;
    margin-right: 30px;
  }
  .remove {
background-color: white;
border-radius: 20px;
margin-bottom: 30px;
  }
  .btnShow {
    border: none;
    background-color: white;
    color: #43a2f3;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  input {
    margin-left: 20px;
  }
  .search {
    border-style: none;
    background-color: #fff;
  }
  @media all and (max-width: 850px) {
    .nav-container {
      flex-direction: column;
     }
     .link {
       align-self: flex-start;
       margin-left: 0px;
     } 
    .daySale {
      flex-direction: column;
    }
    .slidesSale {
      width: 600px;
      height: auto;
    }
    .boxItem {
      text-align: center;
    }
    .box {
      width: 90%;
    }
    .containerFront {
      flex-wrap: wrap;
    }
  }
  @media all and (max-width: 500px) {
    .nav-container {
     flex-direction: column;
    }
    .link {
      align-self: flex-start;
      margin-left: 0px;
    } 
    .daySale {
      flex-direction: column;
    }
    .slidesSale {
      width: 200px;
      height: auto;
    }
    .imageFront {
      width: 400px;
    }
    .link {
      font-size: 18px;
    }
    .imgPromotion {
      width: 300px;
    }
    .boxItem {
      text-align: center;
    }
    .box {
      width: 80%;
    }
    .containerFront {
      flex-wrap: wrap;
    }
    .twoBox {
      flex-wrap: wrap;
    }
  }
  